@import "tailwindcss";
@import "tw-animate-css";

/* @import 'primeicons/primeicons.css'; */
        

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-dark-200: #475467;
    --color-light-blue-100: #c1d3f81a;

}

html,
body {
  @apply bg-white dark:bg-gray-950;

}

h1{
    @apply text-6xl font-semibold  leading-tight

}

h2{
    @apply text-3xl text-dark-200

}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#ABBC95] via-[#000000] to-[#8E97C5];
  }
}
